@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

html {
    font-size: 100%;
    background-color: white;
    color: black
}

body {
    margin: 0;

    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}
header{
    margin-bottom: 1.5em;
}
/*Editorial Label*/
header h1{
    font-family: 'Oswald', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: 1px solid black;
    display: inline-block;
    text-align: left;
    padding: 0.1em 0.2em;
    margin: 0;
}
/*Main Headline*/
header h2{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: center;
}
/*Subtitle*/
header p{
    font-family: 'Oswald', Georgia, sans-serif;
    font-size: 1rem;
    word-spacing: 0.37em;
    font-weight: 400;
    text-align: center;
}
main{
    font-family: Georgia, 'Times New Roman', Times, serif;
    column-count: 3;
    column-gap: 2rem;
    font-size: 1rem;
}
/*Body Paragraphs*/
main p{
    text-indent: 2em;
    font-size: 0.6rem;
    margin-bottom: -0.5rem;
    text-align: justify;
    hyphens: auto;
    }
/*Section Headings*/
main h4{
    font-family: 'Oswald', sans-serif;
    font-size: 0.6rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
#page{
    max-width: 640px;
    margin: 0 auto;
    padding: 1.5rem;
}